.close {
  display: block;
}

.win-content {
  width: 100%;
  height: auto;
  background-color: silver;
  justify-content: center;
  padding: 10px 10px 30px;
  display: flex;
  position: relative;
  overflow: auto;
}

.game-info-label {
  color: #000;
  margin-bottom: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 13px;
  font-weight: 400;
}

.column {
  padding-left: 0;
  padding-right: 0;
}

.win-action-bar {
  width: 100%;
  height: 20px;
  background-color: silver;
  flex: none;
  align-items: center;
  padding-left: 6px;
  display: flex;
}

.popup-1 {
  width: 500px;
  height: auto;
  border: 1px solid #000;
  border-color: silver #000 #000 silver;
}

.game-instructions {
  color: #000;
  padding-top: 10px;
  font-size: 14px;
}

.minimize {
  display: block;
}

.game-screen-block {
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.win-inner-padding {
  width: 100%;
  height: 100%;
  border: 2px solid silver;
  flex-direction: column;
  display: flex;
}

.win-content-inner-frame {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid silver;
  border-color: #000 silver silver #000;
}

.game-info-value {
  color: #000;
  margin-bottom: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 13px;
  font-weight: 400;
}

.underline {
  text-decoration: underline;
}

.window-icons {
  height: 14px;
  align-items: flex-start;
  display: flex;
}

.game-screen {
  display: block;
  box-shadow: 3px 3px 0 1px #000;
}

.win-content-outer-frame {
  border: 1px solid #fff;
  border-color: gray #fff #fff gray;
  flex: 1;
}

.action-item {
  color: #000;
  margin-right: 15px;
  font-size: 12px;
  line-height: 1;
  display: inline-block;
}

.win-top-bar {
  width: 100%;
  height: 18px;
  background-color: navy;
  flex: none;
  justify-content: space-between;
  align-items: center;
  padding-left: 4px;
  padding-right: 2px;
  display: flex;
}

.columns {
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 8px;
}

.win-inner-frame {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  border-color: #fff gray gray #fff;
}

.game-title {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 6px;
  font-size: 18px;
}

.game-title.heading {
  font-weight: 700;
}

.game-title.lowe {
  text-transform: none;
}

.fullscreen {
  display: block;
}

.win-title {
  font-size: 12px;
  font-weight: 400;
}

.game-description {
  color: #000;
  font-size: 16px;
}

.close-icon {
  padding-left: 2px;
}

.body {
  color: #fff;
  word-break: break-all;
  cursor: none;
  background-color: #000;
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
}

.start-button {
  width: 60px;
  height: 24px;
  color: #000;
  text-align: center;
  letter-spacing: 1px;
  background-color: silver;
  border: 1px solid #000;
  border-color: #fff #000 #000 #fff;
  padding: 0;
  font-size: 14px;
  text-decoration: none;
}

.flex-h {
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 2px 3px;
  display: flex;
}

.start-text {
  font-size: 16px;
  line-height: 1;
  display: block;
}

.start-right-border {
  width: 1px;
  height: 100%;
  float: right;
  background-color: gray;
  position: relative;
  top: -30px;
}

.start-bottom-border {
  width: 100%;
  height: 1px;
  background-color: gray;
  position: relative;
  top: -1px;
}

.ok-button {
  width: 60px;
  height: 32px;
  color: #000;
  text-align: center;
  letter-spacing: 1px;
  background-color: silver;
  border: 1px solid #000;
  border-color: #fff #000 #000 #fff;
  padding: 0;
  font-size: 14px;
  text-decoration: none;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: auto;
}

.inital-popup {
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.inital-popup.hidden {
  display: none;
}

.bg-gif {
  z-index: -2;
  background-image: linear-gradient(#250f42, #250f42f7), url("../images/bg.gif");
  background-position: 0 0, 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.bg-gif._2 {
  z-index: -1;
  opacity: 0.3;
  background-image: url("../images/bg2.gif");
  background-position: 0 0;
  background-size: cover;
  background-attachment: scroll;
}

.css {
  display: none;
}

.nav-link-txt {
  background-color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
}

.krabby-patty {
  width: 30px;
}

.page-content {
  padding: 20px 5% 50px;
  overflow: hidden;
}

.ca {
  margin-top: 10px;
}

.title-heading {
  z-index: 1;
  word-break: break-all;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(117deg, #ff0004, #2bff00 50%, #ff00b2);
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: Batmfa, sans-serif;
  font-size: 40px;
  line-height: 1.4;
  position: relative;
}

.fancy {
  text-transform: uppercase;
  font-size: 30px;
}

.line {
  width: 100%;
  height: 0.5px;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tokenomics {
  margin-top: 20px;
}

.two-img {
  justify-content: space-around;
  align-items: flex-end;
  display: flex;
}

.music {
  margin-bottom: 30px;
}

.script {
  display: none;
}

.popup-bg {
  z-index: -1;
  -webkit-backdrop-filter: grayscale() blur(50px);
  backdrop-filter: grayscale() blur(50px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.tokenomics-part {
  justify-content: space-between;
  margin-top: 40px;
  display: flex;
}

.img-gallery {
  margin-top: 100px;
}

.footer {
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-img {
  width: 100px;
}

.youtube-1 {
  margin-top: 40px;
}

.watch-ep-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.images-grid-1 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fixed-popping-img {
  width: 500px;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: -600px;
  transform: rotate(-33deg);
}

.top-img {
  max-width: 60%;
}

.cursor-img {
  z-index: 99999;
  width: 50px;
  margin-top: 50px;
  margin-left: 50px;
}

.custom-cursor {
  z-index: 2147483647;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.img-c {
  position: relative;
  text-align: center;
}

.gif-1 {
  max-width: 300px;
  position: absolute;
  top: auto;
  bottom: 25%;
  left: auto;
  right: 0%;
}

.top-ones {
  position: relative;
}

.top-bubbles {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.gif-moving-across-cont {
  width: 100%;
  height: 100px;
  position: relative;
  overflow: hidden;
}

.move-across-gif {
  width: 100px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.random-popup {
  z-index: 99;
  -webkit-backdrop-filter: blur(20px) grayscale();
  backdrop-filter: blur(20px) grayscale();
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.random-popup-image {
  max-height: 50%;
  max-width: 50%;
}

.close-popup {
  margin-top: 20px;
}

.random-popup-content {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.bag-div {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: grid;
  position: relative;
}

.hrt,
.fth {
  max-width: 200px;
}

.title-conte {
  z-index: 0;
  text-align: left;
  position: relative;
}

.car {
  z-index: 0;
  width: 100px;
  position: absolute;
  top: auto;
  bottom: -20px;
  left: 49%;
  right: auto;
}

.car.two {
  margin-left: 150px;
}

.paragraph {
  align-self: center;
}

.paragraph.email {
  margin-top: 50px;
}

.enter-cont {
  width: 500px;
  flex-direction: column;
  display: flex;
}

.enter-top-1 {
  background-color: purple;
  justify-content: center;
  align-items: center;
  padding: 15px;
  display: flex;
}

.enter-mid {
  background-color: #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  display: flex;
}

.enter-top-paragraph {
  word-break: normal;
  margin-bottom: 0;
}

.enter-mid-top-txt {
  text-transform: uppercase;
}

.enter-bottom {
  background-color: #fff;
  justify-content: center;
  padding: 16px;
  display: flex;
}

.enter-yes {
  background-color: #05d904;
  border-radius: 3rem;
  margin-left: 10px;
  margin-right: 10px;
}

.enter-no {
  background-color: #e10603;
  border-radius: 3rem;
  margin-left: 10px;
  margin-right: 10px;
}

.under-title {
  height: 100px;
  position: relative;
}

.ca-fancy {
  color: #86d37b;
}

.no-break {
  word-break: normal;
}

@media screen and (max-width: 991px) {
  .popup-1 {
    height: auto;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
  }

  .body {
    cursor: auto;
  }

  .images-grid-1 {
    grid-template-columns: 1fr 1fr;
  }

  .custom-cursor {
    display: none;
  }

  .top-bubbles {
    max-width: 25%;
  }
}

@media screen and (max-width: 767px) {
  .body {
    font-size: 20px;
  }

  .two-img {
    max-width: 100%;
  }

  .tokenomics-part {
    flex-direction: column;
  }

  .images-grid-1 {
    grid-template-columns: 1fr;
  }

  .top-img {
    max-width: 100%;
  }

  .gif-1 {
    max-width: 200px;
  }

  .hrt,
  .fth {
    max-width: 130px;
  }
}

@media screen and (max-width: 479px) {
  .popup-1 {
    transform: scale(0.9);
  }

  .tokenomics-img {
    max-width: 50%;
  }

  .card-img {
    margin-bottom: 20px;
  }

  .gif-1 {
    max-width: 100px;
  }

  .hrt,
  .fth {
    max-width: 60px;
  }

  .enter-cont {
    max-width: 95%;
  }

  .enter-top-paragraph {
    font-size: 17px;
  }
}

@font-face {
  font-family: "Batmfa";
  src: url("../fonts/batmfa__.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
